.root {
	font-size: 14px;
	font-family: canada-type-gibson, Avenir, Helvetica, 'Open Sans', 'Fira Sans', sans-serif;
}
.image img {
	border-radius: 10px;
}

.root-hidden {
	composes: root;
}

.root-linked {
	composes: root;
}
